.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
     
  }
  
  .custom-form {
    width: 200px; 
    margin-left: 100px;
    
  }
.button-style{
  margin-right: "15px";
  background-color:"#222562";
  color:"white"
}